@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* COLOURS */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.darkred {
  text-decoration: none;
  color: hsla(10, 80%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.white {
  text-decoration: none;
  color: hsla(0, 100%, 100%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* ALIGNMENT */
.center {
  text-align: center;
}

/* MAIN SCREEN SECTIONS */
.set-width {
  width: 25vw;
}
.header {
  padding: 5%;
  background-color: darkred;
  color: white;
  text-align: center;
  margin: auto;
  height: 20vh;
}
.header-large {
  padding: 5%;
  background-color: darkred;
  color: white;
  text-align: center;
  margin: auto;
  height: 25vh;
}
.header-small {
  padding: 5%;
  background-color: darkred;
  color: white;
  text-align: center;
  margin: auto;
  height: 15vh;
}
/* .head-fixed {
  padding: 5%;
  background-color: darkred;
  color: white;
  text-align: center;
  margin: auto;
  width: 100%; 
  height: 20vh;
} */

.middle {
  padding: 0%;
  background-color: white;
  color: black;
  text-align: left; 
  width: 100%;
  height: 60vh;
  margin-left: 0vw;
  margin-right: 0vw;
}
.middle-small {
  padding: 0%;
  background-color: white;
  color: black;
  text-align: left; 
  width: 100%;
  height: 30vh;
  margin-left: 0vw;
  margin-right: 0vw;
}
.infoscreen {
  background-color: darkred;
  color: white;
  font-size: 25px;
  text-align: left;
  height: 80vh;
}
.footer {
  padding: 2%;
  background-color: darkred;
  color: white;
  width: 100%;
  height: 20vh;
}
.footer-large {
  background-color: darkred;
  color: white;
  width: 100%;
  height: 25vh;
}
.footer-xlarge {
  background-color: darkred;
  color: white;
  width: 100%;
  height: 40vh;
}
.footer-small {
  padding: 2%;
  background-color: darkred;
  color: white;
  width: 100%;
  height: 15vh;
}
.foot-fixed {
  padding: 2%;
  background-color: darkred;
  color: white;
  width: 100%;
  height: 20vh;
}
.footer-text {
  margin-left: 5vw !important;
  margin-right: 5vw !important;
  text-align: center;
  padding: 0% !important;
}
h9 {
  color: darkred
}

/* BOXES - Text/Input */
.textbox {
  text-align: center;
  border: 3px solid darkred;
}
.inputbox {
  width: 70vw;
  padding: 2% !important;
  border: 2px solid darkred;
  display: block;
  margin : auto !important;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

/* BOXES - Whole Screen */

.screenbox {
  margin-left: 0%;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10%;
}
.screentext {
  margin-left: 10%;
  padding: 5%;
  text-align: left;
} 
.centerV {
  margin: 6vw !important;
  position: absolute;
  top: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blankbox {
  padding: 5%;
  width: 100%;
  height: 60%;
}
/* BOXES - Footers */
/* .footbox {
   background-color:darkred;
   color: white;
   padding: 10px;
   text-decoration: none;
 } */
 .logos {
  margin-left: 3% !important;
  margin-right: 3% !important;
  padding: 0% !important;
}
.arrows {
  color: white;
  font-weight:  200;
  font-size: 3rem;
  text-decoration: none;
  margin-left: 0%;
  display: flex;
  justify-content: space-between;
}
.arrow {
  color: white;
  font-weight:  100;
  font-size: 4rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.leftbutton {
  color: white;
  font-weight:  200;
  font-size: 3.5rem;
  text-decoration: none;
  text-align: left; 
  margin-left: 2% !important;
  display: flex;
  justify-content: space-between;
}
.rightbutton {
  color: white;
  font-weight:  200;
  font-size: 3.5rem;
  text-decoration: none;
  margin-right: 2% !important;
  display: flex;
  justify-content: space-between;
}
.lefticon {
  margin-left: 100px;
  margin-right: 0px;
}
.righticon {
  margin-left: 400px;
}
.footertext {
  color: white;
  font-weight:  400;
  font-size: 15px;
  text-align: left;
  padding: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

/*  Icons  */
.speaker {
  margin-left: 10px;
  margin-right: 0px;
  width: 35px;
  height: 30px;
}
.speaker_q {
  width: 35px;
  height: 35px;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 5px;
  border-color: blue;
  }
.speaker_a {
   width: 25px;
   height: 25px;
   display: block;
   margin-left: auto !important;
   margin-right: auto !important;
   }
.speaker:hover {
  background-color: ;
  width: 45px;
}
.speaker_a:hover {
  background-color: blue;
  width: 32px;
}
.speaker_q:hover {
  background-color: blue;
  width: 40px;
}
.dotx {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.circleoutlinex {
            width: 15px;
            height: 15px;
            border: 2px solid white;
            border-radius: 50%;
            display: inline-block;
            text-align: right;
        }
.arrowsx {
  color: white;
  font-weight:  200;
  font-size: 3.5rem;
  text-decoration: none;
  margin-right: 10%;
}

button:hover {
  color: blue;
  background-color: pink;
}

/* MEDIA */

@media (hover: hover) {
  a:hover {
    color: turquoise;
    /* background-color: hsla(130, 100%, 37%, 0.925); */
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
.selected {
  color: red;
  background-color: lightgrey;
  font-weight: 700;
}
.unselected {
  color: black;
  font-weight: 500;
}
.unselected:hover{
  color: black;
  font-weight: 500;
  /* background-color: lightgrey;  */
}
.active {
  color: red;
  border-width: 0px;
  width: 90px;
  height: 108px;
  padding: 0px;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}